.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.split {
  justify-content: space-between;
}

.slider {
  width: 20vw;
}

.checkbox {
  width: 15vw;
}

#preview-image {
  width: 12vw;
  padding: 1vw;
  border: 0.25vw solid gray;
}

#progress-container {
  display: none;
}

#download-btn {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: dodgerblue;
}

:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --bg-color: #FFFFFF;
}

body{
  background-color: white;
  color: black;
  --secondary-color: #000000;
}

.dark-mode{
  background-color:black;
  color:white;
  --secondary-color: #FFFFFF;
}

#themeSwitch{
  vertical-align: text-bottom;
}
div {
  margin-bottom: 20px;
}

div:last-child{
  margin-bottom: none;
}
