.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  max-width: 350px;
}

.split {
  justify-content: space-between;
}

.slider {
  width: 20vw;
}

.checkbox {
  width: 15vw;
  max-width: 300px;
}

#preview-wrapper {
  margin-left: 30px;
  text-align: center;
}

#preview-image {
  width: 16vw;
  padding: 1vw;
  border: 0.25vw solid gray;
}

#progress-container {
  display: none;
}

#download-btn {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: dodgerblue;
}

:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --bg-color: #FFFFFF;
}

.light-mode{
  background-color: white;
  color: black;
  --secondary-color: #000000;
}

.dark-mode{
  background-color:#1c1c1c;
  color:white;
  --secondary-color: #FFFFFF;
}

.halloween{
  background-color: black;
  color: #FF7000;;
  --secondary-color: #FF7000;
}

.thanksgiving{
  background-color: #996237;
  color: #F8B12C;
}

.christmas{
  background-color: #A92921;
  color: #0CB04A;
}

.newyears{
  background-color: #14054c;
  color: #ffd376;;
}

#themeSwitch{
  vertical-align: text-bottom;
}
div {
  margin-bottom: 20px;
}

div:last-child{
  margin-bottom: none;
}
