.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  max-width: 350px;
}

.split {
  justify-content: space-between;
}

.slider {
  width: 20vw;
}

.checkbox {
  width: 15vw;
  max-width: 300px;
}

#preview-wrapper {
  margin-left: 60px;
  text-align: center;
}

#preview-image {
  width: 20vw;
  border: 0.25vw solid gray;
}

#progress-container {
  display: none;
}

#download-btn {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: dodgerblue;
}

.row:nth-child(odd){
  color:var(--secondary-color);
}

html, body{
  height: 100%;
}

:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --bg-color: #FFFFFF;
}

.light-mode{
  background-color: white;
  color: black;
  --secondary-color: black;
}

.dark-mode{
  background-color:#1c1c1c;
  color:white;
  --secondary-color: white;
}

.halloween{
  background-color: black;
  color: #FF7000;
  --secondary-color: #FF7000;
}

.thanksgiving{
  background-color: #130A00;
  color: #FAF16A;
  --secondary-color: #FAF16A;
  background-image: url("../assets/turkey.png");
  background-repeat: no-repeat;
  background-position: absolute;
  background-position: right bottom;
  background-size: auto;
}

.christmas{
  background-color: #000013;
  color: red;
  --secondary-color:green;
}

.newyears{
  background-color: #14054c;
  color: #ffd376;
  --secondary-color: #ffd376;
}

#themeSwitch{
  vertical-align: text-bottom;
}
div {
  margin-bottom: 20px;
}

div:last-child{
  margin-bottom: none;
}
